body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 75%;
  margin: auto;
  display: block;
}

#container {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: row;
  flex: 0 0 100px;
  text-align: center;
  vertical-align: middle;
  justify-content: space-around;
}
